.advanced-table {
    th.sortable {
        cursor: pointer;
        position: relative;
        padding-right: 20px;

        &:hover {
            background-color: #f5f5f5;
        }

        &::after {
            content: '⇕';
            position: absolute;
            right: 5px;
            opacity: 0.3;
        }

        &.asc::after {
            content: '↑';
            opacity: 1;
        }

        &.desc::after {
            content: '↓';
            opacity: 1;
        }
    }
}